<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #f0f0f0; color: aqua; font-family: Arial, sans-serif;">

<form action="login" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter the username" style="background-color: #fff; color: #333; border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin: 5px 0;"><br>
    <input type="password" name="password" placeholder="Enter the password" style="background-color: #fff; color: #333; border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin: 5px 0;"><br>
    <input type="password" name="password1" placeholder="Confirm the password" style="background-color: #fff; color: #333; border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin: 5px 0;"><br>
    <input type="submit" style="background-color: #4CAF50; color: #fff; padding: 10px; border: none; border-radius: 5px; cursor: pointer;">
</form>
</body>
</html>
